<header class="header-wrapper">
	<section class="left">
		<button class="button" mat-icon-button color="primary" (click)="sidenavService.toggle()">
			<mat-icon [fontIcon]="sidenavService.isSidenavShown ? 'keyboard_double_arrow_left' : 'menu'"></mat-icon>
		</button>
		<button class="button" mat-button [matMenuTriggerFor]="menu" color="primary">СОЗДАТЬ</button>
		<mat-menu #menu="matMenu">
			<button mat-menu-item (click)="handleClick('desk')">Раздел</button>
			<button mat-menu-item (click)="handleClick('task')">Задачу</button>
		</mat-menu>
	</section>
	<section class="center">
		<app-search-input placeholder="Поиск..."></app-search-input>
	</section>
	<section class="right">
		<mat-icon fontIcon="person" color="primary"></mat-icon>
	</section>
</header>
